node_modules/
.pnpm-store/

dist/
build/
coverage/

.env
.env.*
!.env.example

.tmp/*
!.tmp/.gitkeep

data/db/*
!data/db/.gitkeep

data/storage/*
!data/storage/.gitkeep

data/.uploads/*
!data/.uploads/.gitkeep

*.log

.DS_Store
Thumbs.db
.vscode/
.idea/
